{% load models_tags report_tags %}
<table class="table">
    <thead>
        <tr>
            <th>Measurement</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    {% for field in measurements %}
        {% with name=instance|get_verbose_name:field  value=instance|get_field_value:field %}
        <tr class="{{ value }}">
            <td>{{ name }}</td>
            <td>{{ value|default_if_none:"Not yet measured" }}</td>
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>

