{% load staticfiles i18n sekizai_tags %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'virtual_machines' %}">SVA Dashboard</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
{#        <li><a id="scanning_report" href="{% url 'virtual_machines' %}">Scanning Report</a></li>#}
{#        <li><a id="upgrade_report" href="{% url 'upgrade_report' %}">Upgrade Report</a></li>#}
      </ul>
    </div>
  </div>
</nav>

{% addtoblock "js" %}

    <script type="text/javascript">
        $(function(){
            var urls = [$('#virtual_machines'), $('#upgrade_report')];
            for(var i = 0; i < urls.length; i++)
                if(window.location.href.indexOf(urls[i].attr('href')) > -1)
                    urls[i].parent().removeClass().addClass("active");
                else
                    urls[i].parent().removeClass();

        });
    </script>

{% endaddtoblock %}