h2{
  margin-top: 0;
}
.virtual-machine-row{
  cursor: pointer;
}

.diagram{
  position:absolute;
  text-align: left;
  z-index: 10;
  .virtual-machines{
    .virtual-machine tr{
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .additional-elements{
    padding-top: 60px;
  }
}

.dashboard{
  //position: absolute;
  right: 0;
}
.element{
  background: #fff;
  border-radius: 4px;
  border: 2px solid #757575;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  display:inline-block;
  z-index: 2;
  label{
   color: #333;
   font-weight: bold;
  }
  .header{
    .green{
      color: green;
    }
    .red{
      color: red;
    }
  }

  .OK{

  }
  .VIOLATION{
    background-color: #b94441;
  }
  .view-slo{
    margin-top: -10px;
    text-align: center;
  }
}

.info{
  font-size: 0.9em;
}

.no-break{
  word-wrap: normal;
}
.popover{
  max-width:100%;
}

body, html{
  height: 100%;
}
#canvas {
    position:absolute;
    width:100%;
    display:block;
}

.False{
  background-color: #b94441;
}
.True{
  //background-color: #00CC00;
}