<div class="dashboard element">
    <label>Dashboard</label>
    <div><a class="url" href="{{ dashboard_url }}" target="_blank">{{ dashboard_url }}</a></div>
    <div class="description">Dashboard displays information about vulnerability results, ...'</div>
</div>