<div class="oval-repository element">
    <label>Oval repository</label>
    <div><a class="current-repository" href="{{ current_repository }}" target="_blank">{{ current_repository }}</a></div>
</div>