{% load staticfiles i18n pipeline sekizai_tags models_tags %}

<div class="virtual-machine element" id="{{ virtual_machine.id }}">
    <div class="header">
        <label>{{ virtual_machine.ip }}</label>
        {% if virtual_machine.is_online %}
            <i title="Target is online" class="fa fa-circle green"></i>
        {% else %}
            <i title="Target is offline" class="fa fa-circle red"></i>
        {% endif %}
        <span class="pull-right">
            <a id="view-report" href="{{ virtual_machine.report_url }}">View reports</a>
        </span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Frequency</th>
                <th>Actual</th>
                <th>Status</th>
              </tr>
        </thead>
        <tbody>
            <tr class="basic-scan-metric {{ virtual_machine.basic_scan_status }}">
                <td>Basic scan</td>
                <td class="basic-scan-frequency">{{ virtual_machine.basic_scan.value }}h</td>
                <td class="basic-scan-actual">{{ virtual_machine.scanning_report|get_total_seconds }}</td>
                <td class="basic-scan-status">{{ virtual_machine.basic_scan_status }}</td>
            </tr>
            <tr class="list-update-metric {{ virtual_machine.list_update_status }}">
                <td>List update</td>
                <td class="list-update-frequency">{{ virtual_machine.list_update.value }}h</td>
                <td class="list-update-actual">{{ virtual_machine.list_report|get_total_seconds }}</td>
                <td class="list-update-status">{{ virtual_machine.list_update_status }}</td>
            </tr>
            <tr class="up-report-metric {{ virtual_machine.up_report_status }}">
                <td>Upgrade report</td>
                <td class="upgrade-report-frequency">{{ virtual_machine.up_report.value }}h</td>
                <td class="upgrade-report-actual">{{ virtual_machine.upgrade_report|get_total_seconds }}</td>
                <td class="upgrade-report-status">{{ virtual_machine.up_report_status }}</td>
            </tr>
        </tbody>
    </table>
    <div class="view-slo"><a href="{{ virtual_machine.plan_url }}" target="_blank">View plan</a></div>
</div>


{% addtoblock "js" %}
    {% include 'dashboard/virtual_machine_diagram/metric_popover.html' with virtual_machine=virtual_machine %}
{% endaddtoblock %}