{% load staticfiles i18n sekizai_tags pipeline %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans 'SVA Dashboard' %}{% endblock title %}</title>

        {% stylesheet 'base_styles' %}
        {% javascript 'base_scripts' %}
        {% block less-inject %}{% endblock %}

    </head>
    <body>
        {% include "dashboard/includes/header.html" %}

        {% block content %}{% endblock %}

        {% include "dashboard/includes/footer.html" %}

        {% render_block "js" %}
        {% addtoblock 'js' %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip({container:'body'});
                });
            </script>
        {% endaddtoblock %}
    </body>
</html>