{% extends "dashboard/base.html" %}
{% load staticfiles i18n pipeline custom_input sekizai_tags %}

{% block less-inject %}

    {% stylesheet 'virtual_machines' %}

{% endblock %}
{% load json_filters %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Virtual machines</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>Number of vulnerabilities</th>
                            <th>Max CVSS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for virtual_machine in virtual_machines_json %}
                            <tr class="virtual-machine-row" data-href="{% url 'reports' virtual_machine.id %}">
                                <th>{{ virtual_machine.ip }}</th>
                                <th>{{ virtual_machine.vulnerabilities_length }}</th>
                                <th>{% if virtual_machine.max_cvss_score == -1 or not virtual_machine.max_cvss_score %}
                                        N/A
                                    {% else %}
                                        {{ virtual_machine.max_cvss_score }}
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <canvas id="canvas"></canvas>
        {% if virtual_machines_json|length > 0 %}
            <div class="diagram">
                <div class="virtual-machines">
                    {% for virtual_machine in virtual_machines_json %}
                        {% include 'dashboard/virtual_machine_diagram/elements/virtual_machine.html' with virtual_machine=virtual_machine %}
                    {% endfor %}
                </div>
{#                <div class="additional-elements">#}
{#                    {% include 'dashboard/virtual_machine_diagram/elements/oval_repository_element.html' with current_repository=current_repository %}#}
{#                    {% include 'dashboard/virtual_machine_diagram/elements/dashboard_element.html' with dashboard_url=dashboard_url %}#}
{#                </div>#}
            </div>
        {% endif %}
    </div>
    {% addtoblock "js" %}
        {% include 'dashboard/virtual_machine_diagram/connect_elements.html' %}
        <script type="text/javascript">
            $(".virtual-machine-row").click(function() {
                window.document.location = $(this).data("href");
            });
        </script>
    {% endaddtoblock %}
{% endblock %}