.info{
  p{
    margin-top: 0;
    font-size: 31.5px;
  }
  .frequencies{
    padding-bottom: 5px;
  }
  .age-reports{

  }
}
.reports{
  padding-top: 15px;
}

.padding{
  padding-top: 15px;
  .hidden-row {
    padding: 0 !important;
  }

  .no-wrap{
    white-space: nowrap;
  }
}

.no-color{
  display:inline-block;
  outline: none;
  color:#000;
  cursor: pointer;
}