.info p {
  margin-top: 0;
  font-size: 31.5px;
}
.info .frequencies {
  padding-bottom: 5px;
}
.reports {
  padding-top: 15px;
}
.padding {
  padding-top: 15px;
}
.padding .hidden-row {
  padding: 0 !important;
}
.padding .no-wrap {
  white-space: nowrap;
}
.no-color {
  display: inline-block;
  outline: none;
  color: #000;
  cursor: pointer;
}
