.info h2 {
  margin-top: 0;
}
.info .frequencies {
  padding-bottom: 5px;
}
.reports {
  padding-top: 15px;
}
.vulnerabilities {
  padding-top: 15px;
}
.vulnerabilities .hidden-row {
  padding: 0 !important;
}
.vulnerabilities .no-wrap {
  white-space: nowrap;
}
.no-color {
  display: inline-block;
  outline: none;
  color: #000;
  cursor: pointer;
}
