h2 {
  margin-top: 0;
}
.virtual-machine-row {
  cursor: pointer;
}
.diagram {
  position: absolute;
  text-align: left;
  z-index: 10;
}
.diagram .virtual-machines .virtual-machine tr {
  cursor: pointer;
  border-radius: 5px;
}
.diagram .additional-elements {
  padding-top: 60px;
}
.dashboard {
  right: 0;
}
.element {
  background: #fff;
  border-radius: 4px;
  border: 2px solid #757575;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  z-index: 2;
}
.element label {
  color: #333;
  font-weight: bold;
}
.element .header .green {
  color: green;
}
.element .header .red {
  color: red;
}
.element .VIOLATION {
  background-color: #b94441;
}
.element .view-slo {
  margin-top: -10px;
  text-align: center;
}
.info {
  font-size: 0.9em;
}
.no-break {
  word-wrap: normal;
}
.popover {
  max-width: 100%;
}
body,
html {
  height: 100%;
}
#canvas {
  position: absolute;
  width: 100%;
  display: block;
}
.False {
  background-color: #b94441;
}
