{% load report_tags %}
<div class="row">
    <div class="padding col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Threat</th>
                    <th>Severity</th>
                    <th>Impact</th>
                </tr>
            </thead>
            <tbody>
                {% for j in extended_scan_rows %}
                    <tr>
                        {% with i=forloop.counter0|stringformat:"s" %}
                            {% with name="name_"|add:i threat="threat_"|add:i severity="severity_"|add:i nvt="nvt_"|add:i %}
                                <th>{{ extended_scan_report.data|keyvalue:name }}</th>
                                <th>{{ extended_scan_report.data|keyvalue:threat }}</th>
                                <th>{{ extended_scan_report.data|keyvalue:severity }}</th>
                                <th>{{ extended_scan_report.data|keyvalue:nvt|keyvalue:"impact" }}</th>
                            {% endwith %}
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>