{% extends "dashboard/base.html" %}
{% load staticfiles i18n pipeline report_tags sekizai_tags %}

{% block less-inject %}

{% stylesheet 'report' %}

{% endblock %}

{% block content %}
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <div class="container-fluid">
            <div class="info">
                <p>Virtual machine: {{ ip|default:"NA" }}</p>
                <div class="row frequencies">
                    {# Display frequencies #}
                    <div class="col-md-4">
                        List update frequency: {{ list_update_frequency|format_value_with_default:"NA" }}
                    </div>
                    <div class="col-md-4">
                        Basic scan frequency: {{ basic_scan_frequency|format_value_with_default:"NA" }}
                    </div>
                    <div class="col-md-4">
                        Upgrade report frequency: {{ upgrade_report_frequency|format_value_with_default:"NA" }}
                    </div>
                </div>
                <div class="row age-reports">
                    {# Display age of files and actual file #}
                    {% with title="Download file" %}
                        <div class="col-md-4">
                            Vulnerability list age: {{ oval_age|file_age:"NA" }}
                            <a class="no-color" data-toggle="tooltip" title="{{ title }}" href="{% url 'file' virtual_machine_number 'oval' %}"><i class="fa fa-file-text-o"></i></a>
                        </div>
                        <div class="col-md-4">
                            Scanning report age: {{ scanning_report_age|file_age:"NA" }}
                            <a class="no-color" data-toggle="tooltip" title="{{ title }}" href="{% url 'file' virtual_machine_number 'scanning_report' %}"><i class="fa fa-file-text-o"></i></a>
                        </div>
                        <div class="col-md-4">
                            Upgrade report age: {{ upgrade_report_age|file_age:"NA" }}
                            <a class="no-color" data-toggle="tooltip" title="{{ title }}" href="{% url 'file' virtual_machine_number 'upgrade_report' %}"><i class="fa fa-file-text-o"></i></a>
                        </div>
                    {% endwith %}
                </div>
            </div>

            <ul class="nav nav-tabs reports">
                <li class="active"><a data-toggle="tab" href="#scanning">Scanning Report</a></li>
                <li><a data-toggle="tab" href="#upgrade">Upgrade Report</a></li>
                <li><a data-toggle="tab" href="#extended-scan">Extended Scan Report</a></li>
            </ul>

            <div class="tab-content">
                <div id="scanning" class="tab-pane fade in active">
                    {% include 'dashboard/reports/scanning_report.html' %}
                </div>
                <div id="upgrade" class="tab-pane fade">
                    {% include 'dashboard/reports/upgrade_report.html' %}
                </div>
                <div id="extended-scan" class="tab-pane fade">
                    {% include 'dashboard/reports/extended_scan_report.html' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}