<div class="row">
    <div class="padding col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>CVE</th>
                    <th>CVSS</th>
                    <th>Vulnerability result</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for definition in scanning_report %}
                    <tr data-toggle="collapse" data-target="#{{ forloop.counter0 }}"  class="accordion-toggle {% if definition.vulnerability_result %} danger {% else %} success {% endif %}">
                        <th class="no-wrap">{{ definition.cve.cve }}</th>
                        <th>{% if definition.cve.cvss == -1 or not definition.cve.cvss %}
                                N/A
                            {% else %}
                                {{ definition.cve.cvss }}
                            {% endif %}
                        </th>
                        <th>{{ definition.vulnerability_result }}</th>
                        <th>{{ definition.description }}</th>
                    </tr>
                    {% if definition.package_set.all %}
                        <tr>
                            <td colspan="5" class="hidden-row">
                                <div class="accordion-body collapse" id="{{ forloop.counter0 }}">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Version</th>
                                                <th>Available version</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for package in definition.package_set.all %}
                                                <tr>
                                                    <th>{{ package.name }}</th>
                                                    <th>{{ package.version }}</th>
                                                    <th>{{ package.available_version }}&nbsp;<i class="fa fa-arrow-up blue"></i></th>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>