<div class="row">
    <div class="padding col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Version</th>
                    <th>Available upgrade</th>
                </tr>
            </thead>
            <tbody>
                {% for package in upgrade_report %}
                    <tr>
                        <th>{{ package.name }}</th>
                        <th>{{ package.current_version }}</th>
                        <th>{{ package.available_version }}&nbsp;<i class="fa fa-arrow-up blue"></i></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
